{% extends 'constel/base.html' %}
{% block title %}Constel | Admin{% endblock %}
{% block content %}
<div class="page-title"><h1>{{ pagina_titulo }}</h1></div>
<div class="menu-text"><h1>{{ menu_titulo }}</h1></div>
<div class="table-content">
    <table>
        <thead>
            <tr>
                <th colspan=2>Grupo</th>
            </tr>
        </thead>
        <tbody>
        {% for grupo in grupos %}
            <tr>
                <td>{{ grupo.name|title }}</td>
                <td>
                    <form method="post" class="form">
                        {% csrf_token %}
                        <input type="hidden" value={{ grupo.id }} name="grupo_id"/>
                        <div class="menu-button"><button type="submit">Remover</button></div>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include 'constel/form.html' %}
{% endblock %}