{% extends 'constel/base.html' %}
{% block title %}Constel | Patrimônio{% endblock %}
{% block content %}
<div class="page-title"><h1>{{ pagina_titulo }}</h1></div>
<div class="menu-text"><h1>{{ menu_titulo }}</h1></div>
{% include 'constel/form.html' %}
<div class="table-content">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Cadastrado por</th>
                <th>Data de cadastro</th>
            </tr>
        </thead>
        <tbody>
        {% for ferramenta in ferramentas %}
            <tr>
                <td>{{ ferramenta.nome }}</td>
                <td>{{ ferramenta.descricao }}</td>
                <td>{{ ferramenta.user.first_name|title }} {{ ferramenta.user.last_name|title }}</td>
                <td>{{ ferramenta.data|date:'d/m/Y' }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}