{% extends 'constel/base.html' %}
{% block title %}Constel | Patrimônio{% endblock %}
{% block content %}
<h1>Ferramentas</h1>
<div class="table-content">
    <table border="2">
        <thead>
            <tr>
                <th>Ferramenta</th>
                <th>Descrição</th>
                <th>Qtd em estoque</th>
            </tr>
        </thead>
        <tbody>
        {% for ferramenta in ferramentas %}
            <tr>
                <td>{{ ferramenta.ferramenta.nome }}</td>
                <td>{{ ferramenta.ferramenta.descricao }}</td>
                <td>{{ ferramenta.quantidade }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<div>
    <a href="{% url 'patrimonio_menu_consultas' %}"><button>Voltar</button></a>
</div>
{% endblock %}