<!DOCTYPE html>
{% extends 'constel/base.html' %}
{% block title %}Consultar Talão{% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>Talão</th>
            <th>Data de cadastro</th>
            <th>Status</th>
            <th>Detalhes</th>
        </tr>
    </thead>
    <tbody>
    {% for talao in lista_talao %}
        <tr>
            <td>
                <p>{{ talao.talao }}</p>
            </td>
            <td>
                <p>{{ talao.data }}</p>
            </td>
            <td>
                <p>{{ talao.status }}</p>
            </td>
            <td>
                <div>
                    <a href="{% url 'detalhes_talao' talao.talao %}"><button>Acessar</button></a>
                </div>
            </td>
        </tr>
    {% endfor %}
</table>
<div>
    <a href="{% url 'gc_index' %}"><button>Voltar</button></a>
</div>
{% endblock %}