<!DOCTYPE html>
{% extends 'constel/base.html' %}
{% block title %}Gas Control{% endblock %}
{% block content %}
<div><h1>Gas Control</h1></div>
<div>
    <a href="{% url 'cadastro_talao' %}"><button>Cadastrar novo Talão</button></a>
</div>
<div>
    <a href="{% url 'cadastro_combustivel' %}"><button>Cadastrar Combustível</button></a>
</div>
<div>
    <a href="{% url 'consulta_talao' %}"><button>Consultar Talões</button></a>
</div>
<div>
    <a href="{% url 'entrega_talao' %}"><button>Entregar Talão</button></a>
</div>
<div>
    <a href="{% url 'entrega_vale' %}"><button>Entregar Vale</button></a>
</div>
<div>
    <a href="{% url 'index' %}"><button>Sair</button></a>
</div>
{% endblock %}