{% extends 'constel/base.html' %}
{% block title %}Gas Control{% endblock %}
{% block content %}
<div><h1>Gas Control</h1></div>
<div>
    <a href="{% url 'cadastro_talao' %}">
        <button {% if gerencia_talao == 0 %} disabled="disabled" {% endif %}>Cadastrar talão</button>
    </a>
</div>
<div>
    <a href="{% url 'cadastro_combustivel' %}">
        <button {% if gerencia_talao == 0 %} disabled="disabled" {% endif %}>Cadastrar combustível</button>
    </a>
</div>
<div>
    <a href="{% url 'entrega_talao' %}">
        <button {% if gerencia_talao == 0 %} disabled="disabled" {% endif %}>Entregar talão</button>
    </a>
</div>
<div>
    <a href="{% url 'entrega_vale' %}">
        <button {% if gerencia_vale == 0 %} disabled="disabled" {% endif %}>Entregar vale</button>
    </a>
</div>
<div>
    <a href="{% url 'consulta_talao' %}">
        <button {% if gerencia_talao == 0 %} disabled="disabled" {% endif %}>Consultar talões</button>
    </a>
</div>
<div>
    <a href="{% url 'consulta_vales' %}">
        <button {% if gerencia_vale == 0 %} disabled="disabled" {% endif %}>Consultar vales</button>
    </a>
</div>
<div>
    <a href="{% url 'index' %}"><button>Sair</button></a>
</div>
{% endblock %}