{% extends 'constel/base.html' %}
{% block title %}Constel | Combustível{% endblock %}
{% block content %}
<div><h1>Controle de vales combustível</h1></div>
<div>
    <a href="{% url 'gc_menu_cadastros' %}">
        <button>Cadastros</button>
    </a>
</div>
<div>
    <a href="{% url 'gc_menu_taloes' %}">
        <button>Talões</button>
    </a>
</div>
<div>
    <a href="{% url 'gc_menu_vales' %}">
        <button>Vales</button>
    </a>
</div>
<div>
    <a href="{% url 'gc_menu_consultas' %}">
        <button>Consultas</button>
    </a>
</div>
<div>
    <a href="{% url 'gc_menu_relatorios' %}">
        <button>Relatórios</button>
    </a>
</div>
<div>
    <a href="{% url 'index' %}"><button>Sair</button></a>
</div>
<div>
    <a href="{% url 'logout' %}"><button>Logout</button></a>
</div>
{% endblock %}