{% extends 'constel/base.html' %}
{% block title %}Gas Control{% endblock %}
{% block content %}
<div><h1>Gas Control</h1></div>
<div>
    <a href="{% url 'gc_cadastro_combustivel' %}">
        <button {% if gerencia_talao == 0 %} disabled="disabled" {% endif %}>Cadastrar combustível</button>
    </a>
</div>
<div>
    <a href="{% url 'gc_cadastro_talao' %}">
        <button {% if gerencia_talao == 0 %} disabled="disabled" {% endif %}>Cadastrar talão</button>
    </a>
</div>
<div>
    <a href="{% url 'gc_menu_principal' %}"><button>Voltar</button></a>
</div>
{% endblock %}