{% extends 'constel/base.html' %}
{% block title %}Constel | Combustível{% endblock %}
{% block content %}
<div><h1>Consultas</h1></div>
<div>
    <a href="{% url 'gc_consulta_taloes' %}">
        <button {% if gerencia_talao == 0 %} disabled="disabled" {% endif %}>Talões</button>
    </a>
</div>
<div>
    <a href="{% url 'gc_consulta_vales' %}">
        <button {% if gerencia_vale == 0 %} disabled="disabled" {% endif %}>Vales</button>
    </a>
</div>
<div>
    <a href="{% url 'gc_consulta_meus_vales' %}">
        <button {% if beneficiario == 0 %} disabled="disabled" {% endif %}>Meus vales</button>
    </a>
</div>
<div>
    <a href="{% url 'consulta_funcionarios' %}?next={{ request.path }}">
        <button>Funcionários</button>
    </a>
</div>
<div>
    <a href="{% url 'consulta_veiculos' %}?next={{ request.path }}">
        <button>Veículos</button>
    </a>
</div>
<div>
    <a href="{% url 'gc_menu_principal' %}"><button>Voltar</button></a>
</div>
{% endblock %}