{% extends 'constel/base.html' %}
{% block title %}Constel | Combustível{% endblock %}
{% block content %}
{% include 'constel/form.html' %}
<div class="table-content">
    <table>
        <thead>
            <tr>
                <th>Combustíveis cadastrados</th>
            </tr>
        </thead>
        <tbody>
        {% for combustivel in combustiveis %}
            <tr>
                <td>{{ combustivel.combustivel|title }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}