{% extends 'constel/base.html' %}
{% block title %}Constel | Combustível{% endblock %}
{% block content %}
<div class="page-title"><h1>{{ pagina_titulo }}</h1></div>
<div class="menu-text"><h1>{{ menu_titulo }}</h1></div>
{% include 'constel/form.html' %}
<div class="table-content">
    <table>
        <thead>
            <tr>
                <th>Postos cadastrados</th>
            </tr>
        </thead>
        <tbody>
        {% for posto in postos %}
            <tr>
                <td>{{ posto.posto }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}