{% extends 'constel/base.html' %}
{% block title %}Constel | Combustível{% endblock %}
{% block content %}
<div class="table-content">
    <table>
        <thead>
            <tr>
                <th>Vale</th>
                <th>Talão</th>
                <th>Status</th>
                <th>Data de entrega</th>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Combustível</th>
                <th>Valor</th>
                <th>Observação</th>
            </tr>
        </thead>
        <tbody>
        {% for vale in vales %}
            <tr>
                <td>{{ vale.vale }}</td>
                <td>{{ vale.talao }}</td>
                <td>{{ vale.get_status_display }}</td>
                <td>{{ vale.vale_entrega.first.data }}</td>
                <td>{{ vale.vale_entrega.first.user_to }}</td>
                <td>{{ vale.vale_entrega.first.user_to.get_full_name|title }}</td>
                <td>{{ vale.vale_entrega.first.combustivel.combustivel }}</td>
                <td>{{ vale.vale_entrega.first.valor_moeda }}</td>
                <td>{{ vale.vale_entrega.first.observacao }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <a href="{% url 'gc_menu_consultas' %}"><button>Voltar</button></a>
</div>
{% endblock %}