{% extends 'constel/base.html' %}
{% block title %}Constel | Combustível{% endblock %}
{% block content %}
<div class="page-title"><h1>{{ pagina_titulo }}</h1></div>
<div class="menu-text"><h1>{{ menu_titulo }}</h1></div>
<div class="table-content">
    <table>
        <thead>
            <tr>
                <th>Talão</th>
                <th>Status</th>
                <th>Data de cadastro</th>
                <th>Cadastrado por</th>
                <th>Data de entrega</th>
                <th>Entregue por</th>
                <th>Recebido por</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
        {% for talao in taloes %}
            <tr>
                <td>{{ talao.talao }}</td>
                <td>{{ talao.status }}</td>
                <td>{{ talao.talao_cadastro__data|date:'d/m/Y' }}</td>
                <td>{{ talao.talao_cadastro__user__first_name|title }} {{ talao.talao_cadastro__user__last_name|title }}</td>
                <td>{{ talao.talao_entrega__data|date:'d/m/Y' }}</td>
                <td>{{ talao.talao_entrega__user__first_name|default:""|title }} {{ talao.talao_entrega__user__last_name|default:""|title }}</td>
                <td>{{ talao.talao_entrega__user_to__first_name|default:""|title }} {{ talao.talao_entrega__user_to__last_name|default:""|title }}</td>
                <td>
                    <a href="{% url 'gc_consulta_talao' talao.talao %}">
                        <button>Vales</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<div class="menu-button menu-back">
    <a href="{% url 'gc_menu_consultas' %}"><button>Voltar</button></a>
</div>
{% endblock %}