{% extends 'constel/base.html' %}
{% block title %}Constel | Combustível | {{ talao.talao }}{% endblock %}
{% block content %}
<div class="page-title"><h1>{{ pagina_titulo }}</h1></div>
{% include 'constel/form_data.html' %}
<div class="menu-button button-blue">
    <a href="{% url 'gc_relatorio_beneficiarios' %}"><button>Limpar</button></a>
</div>
<div class="table-content">
    <table>
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Funcionário</th>
                <th>Último vale</th>
                <th>Total (R$)</th>
                <th colspan="2">Qtde de vales</th>
            </tr>
        </thead>
        <tbody>
        {% for vale in vales %}
            <tr>
                <td>{{ vale.username|upper }}</td>
                <td>{{ vale.first_name|title }} {{ vale.last_name|title }}</td>
                <td>{{ vale.max_data|date:'d/m/Y H:i:s' }}</td>
                <td>{{ vale.total }}</td>
                <td>{{ vale.n_vales }}</td>
                <td>
                    <a href="{% url 'gc_relatorio_beneficiarios_detalhe' vale.username %}?data_inicial={% firstof request.GET.data_inicial '' %}&data_final={% firstof request.GET.data_final '' %}">
                        <button>Vales</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="menu-button menu-back">
    <a href="{% url 'gc_menu_relatorios' %}"><button>Voltar</button></a>
</div>
{% endblock %}