{% extends 'constel/base.html' %}
{% block title %}Constel | Combustível | {{ talao.talao }}{% endblock %}
{% block content %}
<div class="page-title"><h1>{{ vales.first.user_to__first_name|title }} {{ vales.first.user_to__last_name|title }}</h1></div>
{% include 'constel/form_data.html' %}
<div class="menu-button button-blue">
    <a href="{% url 'gc_relatorio_beneficiarios_detalhe' funcionario %}"><button>Limpar</button></a>
</div>
<div class="table-content">
    <table>
        <thead>
            <tr>
                <th>Vale</th>
                <th>Data de entrega</th>
                <th>Responsável</th>
                <th>Combustível</th>
                <th>Valor (R$)</th>
                <th>Observação</th>
            </tr>
        </thead>
        <tbody>
        {% for vale in vales %}
            <tr>
                <td>{{ vale.vale }}</td>
                <td>{{ vale.data|date:'d/m/Y H:i:s' }}</td>
                <td>{{ vale.user__first_name|title }} {{ vale.user__last_name|title }}</td>
                <td>{{ vale.combustivel__combustivel|title }}</td>
                <td>{{ vale.valor }}</td>
                <td>{{ vale.observacao|lower }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="menu-button menu-back">
    <a href="{% url 'gc_relatorio_beneficiarios' %}?data_inicial={% firstof request.GET.data_inicial '' %}&data_final={% firstof request.GET.data_final '' %}"><button>Voltar</button></a>
</div>
{% endblock %}