{% extends 'constel/v2/app.html' %}
{% load static %}
{% block app_content %}
<span id="sentinel_is_active_light"></span>
<button class="btn btn-primary btn-lg" id="activate_sentinel" disabled="">
    ativar
</button>
<button class="btn btn-primary btn-lg" id="deactivate_sentinel" disabled="">
    desativar
</button>
<div class="table-responsive table-content">
    <table class="table table-sm table-bordered table-hover table-dark p-0 m-0">
        <thead>
            <tr>
                <th scope="col" colspan="5">Histórico</th>
            </tr>
            <tr>
                <th scope="col" colspan="2">Wfm</th>
                <th scope="col" colspan="3">Cob</th>
            </tr>
            <tr>
                <th scope="col">Contrato</th>
                <th scope="col">exemplo</th>
                <th scope="col">Status</th>
                <th scope="col">Sinal ONT</th>
                <th scope="col">Sinal OLT</th>
            </tr>
        </thead>
        <tbody id="my_table">
            {% for item in page_obj %}
            <tr class="text-md-left">
                <td>{{ item.contrato }}</td>
                <td>{{ item.status }}</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            {% endfor %}
    </table>
</div>
<script>
    const table = $("#my_table");
</script>
<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
<script src="{% static 'constel/v2/scripts/sentinela_socketio.js' %}"></script>
{% include 'constel/v2/pagination.html' %}
{% endblock %}