{% extends 'constel/v2/app.html' %}
{% block app_content %}
{% include 'constel/v2/form_get_inline.html' %}
<div class="table-responsive table-content">
    <table class="table table-sm table-bordered table-hover table-dark p-0 m-0">
        <thead>
            <tr>
                <th scope="col" colspan="3">Grupos de acesso</th>
            </tr>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Qtd usuários</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            {% for item in page_obj %}
            <tr class="text-md-left">
                <td>{{ item.name|title }}</td>
                <td>{{ item.quantidade|title }}</td>
                <td>
                    <a class="btn btn-primary btn-sm"
                        href="{% url 'constel_acesso_grupos_usuarios' item.id %}?{{ request.GET.urlencode }}">
                        Usuários
                    </a>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>
{% include 'constel/v2/pagination.html' %}
{% endblock %}