{% extends 'constel/v2/app.html' %}
{% block app_content %}
{% include 'constel/v2/form_get_inline.html' %}
<div class="table-responsive table-content">
    <table class="table table-sm table-bordered table-hover table-dark p-0 m-0">
        <thead>
            <tr>
                <th scope="col" colspan="5">Modelos de património</th>
            </tr>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Status</th>
                <th scope="col">Última entrega</th>
                <th scope="col">Com colaborador</th>
            </tr>
        </thead>
        <tbody>
        {% for item in page_obj %}
            <tr>
                <td>{{ item.codigo|title }}</td>
                <td>{{ item.patrimonio__nome|title }}</td>
                <td>{% if item.status %}Em uso{% else %}Estoque{% endif %}</td>
                <td>{{ item.ultima_entrega|date:'d/m/Y H:i:s'|default_if_none:'' }}</td>
                <td>{{ item.user_to_first_name|default_if_none:'' }} {{ item.user_to_last_name|default_if_none:'' }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% include 'constel/v2/pagination.html' %}
{% endblock %}