.header-content {
    padding: 0;
    height: 100vh;
}

body {
    background-color: #242424;
}

.body-content {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    color: white;
}

.body-content button {
    width: 200px;
}

.body-content input {
    width: 200px;
}

.body select {
    width: 200px;
}

.table-content {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
}

.table-content th, td {
    text-align: center;
}

.table-content button {
    width: 80px;
}

.formText {
    text-align: left;
}