{% extends 'constel/v2/app.html' %}
{% block app_content %}
{% include 'constel/v2/form_get_inline.html' %}
<div class="table-responsive table-content">
    <table class="table table-sm table-bordered table-hover table-dark p-0 m-0">
        <thead>
            <tr>
                <th scope="col" colspan="6">Minha equipe</th>
            </tr>
            <tr>
                <th scope="col">Matrícula</th>
                <th scope="col">Nome</th>
                <th scope="col">Dia</th>
                <th scope="col">Km inicial</th>
                <th scope="col">Km final</th>
                <th scope="col">Falta</th>
            </tr>
        </thead>
        <tbody>
            {% for item in page_obj %}
            <tr class="text-md-left">
                <td>{{ item.user_to__username }}</td>
                <td>{{ item.user_to__first_name|title }} {{ item.user_to__last_name|title }}</td>
                <td>{{ item.date|default_if_none:""|date:'d/m/Y' }}</td>
                <td>{{ item.km_initial|default_if_none:"" }}</td>
                <td>{{ item.km_final|default_if_none:"" }}</td>
                <td>{% if item.status %}Não{% else %}Sim{% endif %}</td>
            </tr>
            {% endfor %}
    </table>
</div>
{% include 'constel/v2/pagination.html' %}
{% endblock %}