{% extends 'constel/v2/app.html' %}
{% load humanize %}
{% block app_content %}
{% include 'constel/v2/form_get_inline.html' %}
<div class="table-responsive table-content">
    <table class="table table-sm table-bordered table-hover table-dark p-0 m-0 h-100">
        <thead>
            <tr>
                <th scope="col" colspan="8">Talões</th>
            </tr>
            <tr>
                <th scope="col">Matrícula</th>
                <th scope="col">Funcionário</th>
                <th scope="col">Último vale</th>
                <th scope="col">Total (R$)</th>
                <th scope="col">Qtde de vales</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            {% for item in page_obj %}
            <tr class="text-md-left">
                <td>{{ item.username|upper }}</td>
                <td>{{ item.first_name|title }} {{ item.last_name|title }}</td>
                <td>{{ item.max_data|date:'d/m/Y H:i:s' }}</td>
                <td>R$ {{ item.total|floatformat:2|intcomma }}</td>
                <td>{{ item.n_vales }}</td>
                <td>
                    <a class="btn btn-primary btn-sm"
                        href="{% url 'patrimonio_combustivel_talao_relatorio_geral_detalhe' item.username %}?{{ request.GET.urlencode }}">
                        vales
                    </a>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>
{% include 'constel/v2/pagination.html' %}
{% endblock %}