html {
    min-height: 100vh;
    background: var(--secondary);
}

#nav {
    min-height: 10vh;
}

#content {
    min-height: 80vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#footer {
    height: 10vh;
}

#footer img {
    height: 30px;
    opacity: 0.5;
}

.table-content {
    display: flex;
}

.table-content table {
    overflow: auto;
    position: static;
    height: 100%;
}

.table-content table tbody tr {
    white-space: nowrap;
}

.scroll {
    max-height: 80vh;
    overflow: auto;
}

.enumerated table {
    counter-reset: rowNumber;
}

.enumerated table tbody tr  {
    counter-increment: rowNumber;
    }

.enumerated table tbody tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

.card {
    width: 20em;
}

.page-title h1 {
    margin: 0;
    font-size: 4rem;
    color: orange;
}