html {
    min-height: 100vh;
    background: var(--secondary);
}

body {
	height:100%;
	width:100%;
}

header {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 70px;
	right: 0px;
	overflow: hidden;
}

#nav {
    min-height: 70px;
}

#content {
    position: absolute;
    top: 70px;
    bottom: 70px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

#footer {
    position: absolute;
    bottom: 0px;
    height: 70px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

#footer img {
    height: 30px;
    opacity: 0.5;
}

.table-content {
    display: flex;
}

.table-content table {
    overflow: auto;
    position: static;
    height: 100%;
}

.table-content table tbody tr {
    white-space: nowrap;
}

.scroll {
		height: 100%;
    overflow: auto;
}

.enumerated table {
    counter-reset: rowNumber;
}

.enumerated table tbody tr  {
    counter-increment: rowNumber;
    }

.enumerated table tbody tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

.card {
    width: 20em;
}

.page-title h1 {
    margin: 0;
    font-size: 4rem;
    color: orange;
}