{% extends 'constel/base.html' %}
{% block title %}Novo Usuário{% endblock %}
{% block content %}
<form method="post" class="form">
    {% csrf_token %}
    {% for field in form %}
    <div class="form">
        <p>{{ field.label_tag }}</p>
        <p>{{ field }}</p>
        {% if field.help_text %}
            <p><small>{{ field.help_text }}</small></p>
        {% endif %}
        {% for error in field.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    </div>
    {% endfor %}
    <div class="menu-button menu-back"><button type="submit">Cadastrar veículo</button></div>
</form>
<div class="menu-button">
    <a href="{% url 'gc_menu_cadastros' %}"><button>Voltar</button></a>
</div>
{% endblock %}