{% extends 'constel/base.html' %}
{% block title %}Constel{% endblock %}
{% block content %}
<div class="page-title"><h1>{{ pagina_titulo }}</h1></div>
<div class="menu-text"><h1>{{ menu_titulo }}</h1></div>
<div class="table-content">
    <table>
        <thead>
            <tr>
                <th>Funcionário</th>
                <th>Modelo</th>
                <th>Placa</th>
                <th>Cor</th>
            </tr>
        </thead>
        <tbody>
        {% for veiculo in veiculos %}
            <tr>
                <td>{{ veiculo.user.first_name|title }} {{ veiculo.user.last_name|title }}</td>
                <td>{{ veiculo.modelo|title }}</td>
                <td>{{ veiculo.placa|title }}</td>
                <td>{{ veiculo.cor|title }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="menu-button menu-back">
    <a href="{% url rollback %}"><button>Voltar</button></a>
</div>
{% endblock %}