{% extends 'constel/base.html' %}
{% block title %}Constel{% endblock %}
{% block content %}
<div><h1>Constel</h1></div>
<div>
    <a href="{% url 'gc_index' %}">
        <button {% if gerencia_gc == 0 %} disabled="disabled" {% endif %}>Gas Control (GC)</button>
    </a>
</div>
<div>
    <a href="admin">
        <button {% if not admin %} disabled="disabled" {% endif %}>Administração do sistema</button>
    </a>
    </div>
<div>
    <a href="{% url 'logout' %}"><button>Logout</button></a>
</div>
{% endblock %}