{% extends 'constel/base.html' %}
{% block title %}Constel | Almoxarifado{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div>
        <p>{{ field.label_tag }}</p>
        {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
        <p>{{ field }}</p>
        {% if field.help_text %}
            <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit">Cadastrar fornecedor</button>
</form>
<a href="{% url 'almoxarifado_menu_cadastros' %}"><button>Voltar</button></a>
<h1>Fornecedores cadastrados</h1>
<div class="table-content">
    <table border="2">
        <thead>
            <tr>
                <th>CNPJ</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
        {% for fornecedor in fornecedores %}
            <tr>
                <td>{{ fornecedor.cnpj }}</td>
                <td>{{ fornecedor.nome|title }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}