{% extends 'constel/base.html' %}
{% block title %}Constel | Almoxarifado{% endblock %}
{% block content %}
<form method="post" class="form">
    {% csrf_token %}
    {% for field in form %}
    <div>
        <p>{{ field.label_tag }}</p>
        <p>{{ field }}</p>
        {% if field.help_text %}
            <p><small>{{ field.help_text }}</small></p>
        {% endif %}
        {% for error in field.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    </div>
    {% endfor %}
    <div class="menu-button menu-back"><button type="submit">Cadastrar material</button></div>
</form>
<div class="menu-button menu-back">
    <a href="{% url 'almoxarifado_menu_cadastros' %}"><button>Voltar</button></a>
</div>
<h1>Materiais cadastrados</h1>
<div class="table-content">
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Data de cadastro</th>
                <th>Cadastrado por</th>
            </tr>
        </thead>
        <tbody>
        {% for material in materiais %}
            <tr>
                <td>{{ material.codigo }}</td>
                <td>{{ material.material }}</td>
                <td>{{ material.descricao }}</td>
                <td>{{ material.data|date:'d/m/Y' }}</td>
                <td>{{ material.user.first_name|title }} {{ material.user.last_name|title }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}