{% extends 'constel/base.html' %}
{% block title %}Constel | Novo Usuário{% endblock %}
{% block content %}
<form method="post" class="form">
    {% csrf_token %}
    {% for field in form %}
    <div>
        <p>{{ field.label_tag }}</p>
        <p>{{ field }}</p>
        {% if field.help_text %}
            <p><small>{{ field.help_text }}</small></p>
        {% endif %}
        {% for error in field.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    </div>
    {% endfor %}
    <div class="menu-button"><button type="submit">Cadastrar beneficiário</button></div>
</form>
<div class="menu-button menu-back">
    <a href="{% url callback %}"><button>Voltar</button></a>
</div>
{% endblock %}