{% extends 'constel/base.html' %}
{% block title %}Constel | Almoxarifado{% endblock %}
{% block content %}
<form method="post" class="form">
    {% csrf_token %}
    {% for field in form %}
    <div>
        <p>{{ field.label_tag }}</p>
        <p>{{ field }}</p>
        {% if field.help_text %}
            <p><small>{{ field.help_text }}</small></p>
        {% endif %}
        {% for error in field.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    </div>
    {% endfor %}
    <div class="menu-button back-back"><button type="submit">Cadastrar fornecedor</button></div>
</form>
<div class="menu-button menu-back">
    <a href="{% url 'almoxarifado_menu_cadastros' %}"><button>Voltar</button></a>
</div>
<h1>Fornecedores cadastrados</h1>
<div class="table-content">
    <table>
        <thead>
            <tr>
                <th>CNPJ</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
        {% for fornecedor in fornecedores %}
            <tr>
                <td>{{ fornecedor.cnpj }}</td>
                <td>{{ fornecedor.nome|title }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}