{% extends 'constel/base.html' %}
{% block title %}Constel | Almoxarifado{% endblock %}
{% block content %}
<div class="page-title"><h1>{{ pagina_titulo }}</h1></div>
<div class="menu-text"><h1>{{ menu_titulo }}</h1></div>
<div class="table-content">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Responsável</th>
                {% if tipo %}
                <th>Para</th>
                {% endif %}
                <th>Detalhes</th>
            </tr>
        </thead>
        <tbody>
        {% for item in page_obj %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.data|date:'d/m/Y H:i:s' }}</td>
                <td>{{ item.user__first_name|title }} {{ item.user__last_name|title }}</td>
                {% if tipo %}
                <td>{{ item.user_to_first_name|title }} {{ item.user_to_last_name|title }}</td>
                {% endif %}
                <td>
                    <a href="{% url 'almoxarifado_consulta_ordem_detalhes' tipo item.id %}"><button>Itens</button></a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<div class="menu-button menu-back">
    <a href="{% url 'almoxarifado_menu_consultas' %}"><button>Voltar</button></a>
</div>
{% endblock %}