{% extends 'constel/base.html' %}
{% block title %}Constel | Almoxarifado{% endblock %}
{% block content %}
<div class="page-title"><h1>{{ pagina_titulo }}</h1></div>
<div class="menu-text"><h1>{{ menu_titulo }}</h1></div>
<div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
    Highcharts.chart('container', {
        chart: {
            type: 'line',
            backgroundColor:'#242424',
        },
        title: {
            text: '{{ material.material|upper }}',
            style: {
                    color: "#FFFFFF",
                    fontSize:"20px",
                }
        },
        xAxis: {
            categories: [
                {% for dia in saldos %}'{{ dia.dia|date:'d/m/y' }}'{% if not forloop.last %}, {% endif %}{% endfor %}
               ],
            labels : {
                style: {
                    color: "#FFFFFF",
                    fontSize:"12px",
                }
            }
        },
        yAxis: {
            labels : {
                style: {
                    color: "#FFFFFF",
                    fontSize:"12px",
                }
            }
        },
        series: [{
            name: 'quantidade',
            data: [
                {% for saldo in saldos %}{{ saldo.saldo }}{% if not forloop.last %}, {% endif %}{% endfor %}
            ]
        }]
    });
</script>
<div class="menu-button menu-back">
    <a href="{% url 'almoxarifado_consulta_estoque' %}"><button>Voltar</button></a>
</div>
{% endblock %}