{% extends 'constel/base.html' %}
{% block title %}Constel | Almoxarifado{% endblock %}
{% block content %}
<div class="page-title"><h1>{{ pagina_titulo }}</h1></div>
<div class="menu-text"><h1>{{ menu_titulo }}</h1></div>
{% include 'constel/form_data.html' %}
<div class="menu-button button-blue">
    <a href="{% url 'almoxarifado_relatorio_tecnicos' %}"><button>Limpar</button></a>
</div>
<div class="table-content">
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Material</th>
                <th>Descrição</th>
                <th colspan="2">Quantidade</th>
            </tr>
        </thead>
        <tbody>
        {% for item in itens %}
            <tr>
                <td>{{ item.material__codigo }}</td>
                <td>{{ item.material__material }}</td>
                <td>{{ item.material__descricao }}</td>
                <td>{{ item.quantidade }}</td>
                <td>
                    <a href="{% url 'almoxarifado_consulta_estoque_detalhe' item.material__codigo %}?data_inicial={% firstof request.GET.data_inicial '' %}&data_final={% firstof request.GET.data_final '' %}">
                        <button>Histórico</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<div class="menu-button menu-back">
    <a href="{% url 'almoxarifado_menu_consultas' %}"><button>Voltar</button></a>
</div>
{% endblock %}