{% extends 'constel/base.html' %}
{% block title %}Constel | Almoxarifado{% endblock %}
{% block content %}
<div class="page-title"><h1>{{ pagina_titulo }}</h1></div>
<div class="menu-text"><h1>{{ menu_titulo }}</h1></div>
<div class="table-content">
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Material</th>
                <th>Descrição</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
        {% for item in itens %}
            <tr>
                <td>{{ item.material.codigo }}</td>
                <td>{{ item.material.material }}</td>
                <td>{{ item.material.descricao }}</td>
                <td>{{ item.quantidade }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<div class="menu-button menu-back">
    <a href="{% url 'almoxarifado_menu_consultas' %}"><button>Voltar</button></a>
</div>
{% endblock %}