{% extends 'constel/base.html' %}
{% block title %}Constel | Almoxarifado{% endblock %}
{% block content %}
<div class="page-title"><h1>{{ pagina_titulo }}</h1></div>
<div class="menu-text"><h1>{{ menu_titulo }}</h1></div>
<div class="table-content">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Responsável</th>
                {% if tipo %}
                <th>Para</th>
                {% endif %}
                <th>Detalhes</th>
            </tr>
        </thead>
        <tbody>
        {% for item in itens %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.data }}</td>
                <td>{{ item.user.first_name }} {{ item.user.last_name }}</td>
                {% if tipo %}
                <td>{{ item.almoxarifado_ordem_saida.first.user_to.first_name }} {{ item.almoxarifado_ordem_saida.first.user_to.last_name }}</td>
                {% endif %}
                <td>
                    <a href="{% url 'almoxarifado_consulta_ordem_detalhes' tipo item.id %}"><button>Itens</button></a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<div class="menu-button menu-back">
    <a href="{% url 'almoxarifado_menu_consultas' %}"><button>Voltar</button></a>
</div>
{% endblock %}