{% extends 'constel/base.html' %}
{% block title %}Constel | Almoxarifado{% endblock %}
{% block content %}
<div class="page-title"><h1>{{ pagina_titulo }}</h1></div>
<div class="menu-text"><h1>{{ menu_titulo }}</h1></div>
<div class="table-content">
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Data de cadastro</th>
                <th>Cadastrado por</th>
            </tr>
        </thead>
        <tbody>
        {% for material in materiais %}
            <tr>
                <td>{{ material.codigo }}</td>
                <td>{{ material.material }}</td>
                <td>{{ material.descricao }}</td>
                <td>{{ material.data|date:'d/m/Y' }}</td>
                <td>{{ material.user.first_name|title }} {{ material.user.last_name|title }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<div class="menu-button menu-back">
    <a href="{% url 'almoxarifado_menu_consultas' %}"><button>Voltar</button></a>
</div>
{% endblock %}