{% extends 'constel/base.html' %}
{% block title %}Constel | Almoxarifado{% endblock %}
{% block content %}
<div class="page-title"><h1>Detalhes</h1></div>
{% include 'constel/form_data.html' %}
<div class="menu-button button-blue">
    <a href="{% url 'gc_relatorio_beneficiarios_detalhe' funcionario %}"><button>Limpar</button></a>
</div>
<div class="table-content">
    <table>
        <thead>
            <tr>
                <th>Ordem</th>
                <th>Data de entrega</th>
                <th>Responsável</th>
                <th colspan="2">Número de materiais</th>
                <th>Observação</th>
            </tr>
        </thead>
        <tbody>
        {% for item in page_obj %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.data|date:'d/m/Y H:i:s' }}</td>
                <td>{{ item.user__first_name|title }} {{ item.user__last_name|title }}</td>
                <td>{{ item.n_materiais }}</td>
                <td>
                    <a href="{% url 'almoxarifado_relatorio_tecnicos_detalhe_ordem' funcionario entrega.id %}?data_inicial={% firstof request.GET.data_inicial '' %}&data_final={% firstof request.GET.data_final '' %}">
                        <button>Detalhes</button>
                    </a>
                </td>
                <td>{{ entrega.observacao|lower }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include 'constel/paginator.html' %}
<div class="menu-button menu-back">
    <a href="{% url 'almoxarifado_relatorio_tecnicos' %}?data_inicial={% firstof request.GET.data_inicial '' %}&data_final={% firstof request.GET.data_final '' %}"><button>Voltar</button></a>
</div>
{% endblock %}