<!-- 
    Este é o arquivo base para todas as páginas do sistema.
    Realiza o carregemento dos scripts e estilos necessários para o funcionamento das páginas,
    bem como o layout geral das páginas.
 -->
<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <title>Constel Web | {{ app }}</title>

    <!-- Arquivos meta necessários -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'constel/v2/favicon.png' %}" type="image/x-icon">

    <!-- Bootstrap e CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'constel/v2/style.css' %}">

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f76addf06b.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <!-- Menu nav do sistema -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary fixed-top" id="nav">

            <a href="/">
                <img src="{% static 'constel/v2/constel_logo_sem_escrita_colorido.png' %}">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSite">

                <ul class="navbar-nav nav-pills">
                    <li class="nav-item mt-4 mt-lg-0 ml-lg-4">
                        <a class="nav-link {% if app == 'Constel' %}active{% endif %} px-3" role="button"
                            href="/">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'Almoxarifado' %}active{% endif %} px-3" role="button"
                            href="{% url 'almoxarifado_menu_principal' %}">Almoxarifado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'Patrimônio' %}active{% endif %} px-3" role="button"
                            href="{% url 'patrimonio_menu_principal' %}">Patrimônio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'Combustível' %}active{% endif %} px-3" role="button"
                            href="{% url 'patrimonio_combustivel_talao' %}">Combustível</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'Cont2' %}active{% endif %} px-3" role="button"
                            href="{% url 'almoxarifado_cont_menu_principal' %}">Cont2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" role="button" href="{% url 'constel_menu_admin' %}">Administração</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <span class="navbar-text pr-2">
                            Bem vindo, {{ request.user.first_name|title }}
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-danger px-3" role="button"
                            href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Corpo do consteúdo dos aplicativos -->
    <div class="container-fluid" style="margin-top: 10vh;">
        <div class="row" id="content">
            {% block body_content %}
            {% endblock %}
        </div>
    </div>

    <!-- Rodapé do sistema -->
    <footer class="d-none d-md-block">
        <div class="container-fluid bg-dark flex border-top border-secondary fixed-bottom " id="footer">
            <div class="row h-100 align-items-center justify-content-md-end">
                <div class="col-md-auto mr-4">
                    <div class="row">
                        <div class="col">
                            <h6 class="mb-0" style="white-space: nowrap;">Developed by:</h6>
                        </div>
                    </div>
                    <div class="row align-top">
                        <div class="col">
                            <h6 class="mb-0" style="white-space: nowrap;">Gabriel Sá</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto mr-4">
                    <div class="row">
                        <div class="col">
                            <h6 class="mb-0" style="white-space: nowrap;">Developed with:</h6>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col">
                            <img src="{% static 'constel/v2/logo_python-3.svg' %}" class="img-fluid">
                        </div>
                        <div class="col">
                            <img src="{% static 'constel/v2/logo_django-community.svg' %}" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-auto mr-3">
                    <div class="row">
                        <div class="col">
                            <h6 class="mb-0" style="white-space: nowrap;">Designed with:</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'constel/v2/logo_bootstrap-5.svg' %}" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-auto mr-3">
                    <div class="row">
                        <div class="col">
                            <h6 class="mb-0" style="white-space: nowrap;">Hosting by:</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'constel/v2/logo_heroku-1.svg' %}" class="img-fluid">
                        </div>
                        <div class="col">
                            <img src="{% static 'constel/v2/logo_github-2.svg' %}" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jquery, popper.js e bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>