<!-- 
    Este é o arquivo base para todas as páginas do sistema.
    Realiza o carregemento dos scripts e estilos necessários para o funcionamento das páginas,
    bem como o layout geral das páginas.
 -->
<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <title>Constel Web | {{ app }}</title>

    <!-- Arquivos meta necessários -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'constel/v2/favicon.png' %}" type="image/x-icon">

    <!-- Bootstrap e CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'constel/v2/style.css' %}">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <!-- jquery, popper.js e bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js" integrity="sha512-/DXTXr6nQodMUiq+IUJYCt2PPOUjrHJ9wFrqpJ3XkgPNOZVfMok7cRw6CSxyCQxXn6ozlESsSh1/sMCTF1rL/g==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js" integrity="sha512-7yA/d79yIhHPvcrSiB8S/7TyX0OxlccU8F/kuB8mHYjLlF1MInPbEohpoqfz0AILoq5hoD7lELZAYYHbyeEjag==" crossorigin="anonymous"></script>
    <script src="{% static 'constel/v2/fontawesome.js' %}" crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>

<body>

    <header>
        <!-- Menu nav do sistema -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary fixed-top" id="nav">

            <a href="/">
                <img src="{% static 'constel/v2/constel_logo_sem_escrita_colorido.png' %}">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSite">

                <ul class="navbar-nav nav-pills">
                    <li class="nav-item mt-4 mt-lg-0 ml-lg-4">
                        <a class="nav-link {% if app == 'Constel' %}active{% endif %} px-3" role="button"
                            href="/">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'Almoxarifado' %}active{% endif %} px-3" role="button"
                            href="{% url 'almoxarifado_menu_principal' %}">Almoxarifado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'Patrimônio' %}active{% endif %} px-3" role="button"
                            href="{% url 'patrimonio_menu_principal' %}">Patrimônio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'Combustível' %}active{% endif %} px-3" role="button"
                            href="{% url 'patrimonio_combustivel_talao' %}">Combustível</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'Cont2' %}active{% endif %} px-3" role="button"
                            href="{% url 'almoxarifado_cont_menu_principal' %}">Cont2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app == 'Gerência' %}active{% endif %} px-3" role="button"
                            href="{% url 'constel_gerencia' %}">Gerência</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" role="button"
                            href="{% url 'constel_admin' %}">Administração</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <span class="navbar-text pr-2">
                            Bem vindo, {{ request.user.first_name|title }}
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-danger px-3" role="button"
                            href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Corpo do consteúdo dos aplicativos -->
    <div class="container-fluid">
        <div class="row m-0" id="content">
            {% block body_content %}
            {% endblock %}
        </div>
    </div>

    <!-- Rodapé do sistema -->
    <footer class="d-none d-md-block">
        <div class="container-fluid bg-dark flex border-top border-secondary fixed-bottom " id="footer">
            <div class="row h-100 align-items-center justify-content-md-end">
                <div class="col-md-auto mr-4">
                    <div class="row">
                        <div class="col">
                            <h6 class="mb-0" style="white-space: nowrap;">Developed by:</h6>
                        </div>
                    </div>
                    <div class="row align-top">
                        <div class="col">
                            <h6 class="mb-0" style="white-space: nowrap;">Gabriel Sá</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto mr-4">
                    <div class="row">
                        <div class="col">
                            <h6 class="mb-0" style="white-space: nowrap;">Developed with:</h6>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col">
                            <img src="{% static 'constel/v2/logo_python-3.svg' %}" class="img-fluid">
                        </div>
                        <div class="col">
                            <img src="{% static 'constel/v2/logo_django-community.svg' %}" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-auto mr-3">
                    <div class="row">
                        <div class="col">
                            <h6 class="mb-0" style="white-space: nowrap;">Designed with:</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'constel/v2/logo_bootstrap-5.svg' %}" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-auto mr-3">
                    <div class="row">
                        <div class="col">
                            <h6 class="mb-0" style="white-space: nowrap;">Hosting by:</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'constel/v2/logo_heroku-1.svg' %}" class="img-fluid">
                        </div>
                        <div class="col">
                            <img src="{% static 'constel/v2/logo_github-2.svg' %}" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>