<!-- 
    Este é o arquivo do formulario de login do sistema.
-->
{% extends 'constel/v2/base_login.html' %}
{% block form_content %}
    <form class="w-100" method="POST">
        <div class="form-row my-2 justify-content-end">
            <div class="col-lg-7">
                {% csrf_token %}
                {% for message in messages %}
                <div class="alert alert-danger">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="form-row my-2 justify-content-end">
            <div class="col-lg-7">
                <input type="text" name="username" maxlength="150" required id="id_username"
                    class="form-control" placeholder="Matrícula">
            </div>
        </div>
        <div class="form-row my-2 justify-content-end">
            <div class="col-lg-7">
                <input type="password" name="password" required id="id_password"
                    class="form-control" placeholder="Senha">
            </div>
        </div>
        <div class="form-row lg-2 justify-content-end mb-3">
            <div class="col-lg-7 text-right">
                <a class="btn btn-outline-primary" href="{% url 'cadastra_usuario' %}">
                    Cadastrar-se
                </a>
                <button type="submit" class="btn btn-danger px-4">Logar</button>
            </div>
        </div>
    </form>
{% endblock %}
