<!-- 
    Este é o arquivo da página de login do sistema.
-->
<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <title>Constel Web | Login</title>

    <!-- Arquivos meta necessários -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap e CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'constel/v2/login.css' %}">
</head>

<body>
    <div class="container-fluid">
        <div id="content" class="row">
            <div class="col-sm-5">
                <div class="container">
                    <img class="mt-4" src="{% static 'constel/v2/constel_logo_sem_escrita_colorido.png' %}">
                    <div class="row align-items-end justify-content-end">
                        <form class="w-100" method="POST">
                            <div class="form-row my-2 justify-content-end">
                                <div class="col-md-7">
                                    {% csrf_token %}
                                    <div class="alert alert-success">
                                        <a class="close" href="#" data-dismiss="alert">×</a>
                                        Seja bem vindo a nova tela de login do sistema Constel web, 
                                        em breve as páginas internas do sistema também serão modificadas. 
                                        Contudo, as funções continuarão as mesmas. Em caso de dúvida contate o administrador.
                                    </div>
                                    {% for message in messages %}
                                    <div class="alert alert-danger">
                                        <a class="close" href="#" data-dismiss="alert">×</a>
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-row my-2 justify-content-end">
                                <div class="col-md-7">
                                    <input type="text" name="username" maxlength="150" required id="id_username"
                                        class="form-control" placeholder="Matrícula">
                                </div>
                            </div>
                            <div class="form-row my-2 justify-content-end">
                                <div class="col-md-7">
                                    <input type="password" name="password" required id="id_password"
                                        class="form-control" placeholder="Senha">
                                </div>
                            </div>
                            <div class="form-row my-2 justify-content-end">
                                <div class="col-md-7">
                                    <a class="btn btn-outline-primary mb-2" href="{% url 'cadastra_usuario' %}">
                                        Cadastrar-se
                                    </a>
                                    <button type="submit" class="btn btn-danger mb-2">Logar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="col-image" class="col">
                <div class="container">
                    <div class="row align-items-end justify-content-center">
                        <div>
                            <h1>constel web.</h1>
                            <p class="h3 text-center">Sistema de gestão</p>
                        </div>
                    </div>
                    <div class="row align-items-end justify-content-end">
                        <p class="h5">Powered by Gabriel Sá</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- jquery, popper.js e bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>