{% load my_tags %}
{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center my-3">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?{% param_replace page=1 %}">primeira</a></li>
        <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}">&laquo;</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">primeira</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
        {% endif %}

        <li class="page-item disabled"><a class="page-link" href="#">Página {{ page_obj.number }} de
                {{ page_obj.paginator.num_pages }}</a></li>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}">&raquo;</a></li>
        <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.paginator.num_pages %}">última</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">última</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}