{% extends 'constel/base.html' %}
{% block title %}Constel | Patrimônio{% endblock %}
{% block content %}
<h1>Lista de modelos de patrimônio</h1>
<div class="table-content">
    <table border="2">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Cadastrado por</th>
                <th>Data de cadastro</th>
            </tr>
        </thead>
        <tbody>
        {% for patrimonio in patrimonios %}
            <tr>
                <td>{{ patrimonio.nome }}</td>
                <td>{{ patrimonio.descricao }}</td>
                <td>{{ patrimonio.user.first_name|title }} {{ patrimonio.user.last_name|title }}</td>
                <td>{{ patrimonio.data|date:'d/m/Y' }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<div style="margin-top: 30px;">
    <a href="{% url 'patrimonio_menu_consultas' %}"><button>Voltar</button></a>
</div>
{% endblock %}