{% extends 'constel/v2/app.html' %}
{% block app_content %}
{% include 'constel/v2/form_get_inline.html' %}
<div class="table-responsive table-content">
    <table class="table table-sm table-bordered table-hover table-dark p-0 m-0">
        <thead>
            <tr>
                <th scope="col" colspan="7">Forncedores</th>
            </tr>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Material</th>
                <th scope="col">Última entrada</th>
                <th scope="col">Núm. aquisições</th>
                <th scope="col">Total adiquirido</th>
                <th scope="col">Estoque atual</th>
                <th scope="col">Detalhes</th>
                
            </tr>
        </thead>
        <tbody>
            {% for item in page_obj %}
            <tr class="text-md-left">
                <td>{{ item.nome }}</td>
                <td>{{ item.aquisicoes__material__material|upper }}</td>
                <td>{{ item.data_max|date:'d/m/Y' }}</td>
                <td>{{ item.qtde_aq }}</td>
                <td>{{ item.qtde_material }}</td>
                <td>{{ item.aquisicoes__material__quantidade__quantidade }}</td>
                <td>
                    <a class="btn btn-primary btn-sm"
                        href="{% url 'almoxarifado_consulta_fornecedor_detalhe' item.aquisicoes__material__codigo %}?q={% firstof request.GET.q '' %}">
                        Detalhes
                    </a>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>
{% include 'constel/v2/pagination.html' %}
{% endblock %}