{% extends 'constel/v2/app.html' %}
{% block app_content %}
{% include 'constel/v2/form_get_inline.html' %}
<div class="table-responsive table-content">
    <table class="table table-sm table-bordered table-hover table-dark p-0 m-0">
        <thead>
            <tr>
                <th scope="col" colspan="7">Estoque</th>
            </tr>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Material</th>
                <th scope="col">Descrição</th>
                <th scope="col">Estoque (unidades)</th>
                <th scope="col">SM/D (unidades)</th>
                <th scope="col">Autonomia Prev. (dias)</th>
                <th scope="col">Detalhes</th>
            </tr>
        </thead>
        <tbody>
            {% for item in page_obj %}
            <tr class="text-md-left">
                <td>{{ item.codigo }}</td>
                <td>{{ item.material|truncatechars:40 }}</td>
                <td>{{ item.descricao|truncatechars:100 }}</td>
                <td style="font-size: 1.2em;">{{item.quantidade__quantidade }}</td>
                <td style="font-size: 1.2em; color: yellow;">{% if item.media %}&darr; {% endif %}{{ item.media|default_if_none:'' }}</td>
                <td style="font-size: 1.2em; color: {% if item.pt <= 15 %}Red{% elif item.pt <= 30 %}Yellow{% else %}Lime{% endif %};">{{ item.pt|default_if_none:'' }}</td>
                <td>
                    <a class="btn btn-primary btn-sm"
                        href="{% url 'almoxarifado_consulta_estoque_detalhe' item.codigo %}?data_inicial={% firstof request.GET.data_inicial '' %}&data_final={% firstof request.GET.data_final '' %}">
                        gráfico
                    </a>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>
{% include 'constel/v2/pagination.html' %}
{% endblock %}