{% extends 'constel/v2/app.html' %}
{% block app_content %}
<div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
    Highcharts.chart('container', {
        chart: {
            type: 'line',
            backgroundColor:'#242424',
        },
        title: {
            text: '{{ material.material|upper }}',
            style: {
                    color: "#FFFFFF",
                    fontSize:"20px",
                }
        },
        xAxis: {
            categories: [
                {% for dia in saldos %}'{{ dia.dia|date:'d/m/y' }}'{% if not forloop.last %}, {% endif %}{% endfor %}
               ],
            labels : {
                style: {
                    color: "#FFFFFF",
                    fontSize:"12px",
                }
            }
        },
        yAxis: {
            labels : {
                style: {
                    color: "#FFFFFF",
                    fontSize:"12px",
                }
            }
        },
        series: [{
            name: 'quantidade',
            data: [
                {% for saldo in saldos %}{{ saldo.saldo }}{% if not forloop.last %}, {% endif %}{% endfor %}
            ]
        }]
    });
</script>
<div class="row justify-content-center m-0">
    <a class="btn btn-danger px-5 my-3" href="{% url 'almoxarifado_consulta_estoque' %}">voltar</a>
</div>
{% endblock %}