{% extends 'constel/v2/app.html' %}
{% block app_content %}
{% include 'constel/v2/form_post.html' %}
<div class="table-responsive table-content">
    <table class="table table-sm table-bordered table-hover table-dark p-0 m-0">
        <thead>
            <tr>
                <th scope="col" colspan="4">Prazo de entrega de fornecedores</th>
            </tr>
            <tr>
                <th scope="col">Fornecedor</th>
                <th scope="col">Prazo (dias)</th>
                <th scope="col">Dias úteis</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
        {% for item in page_obj %}
            <tr>
                <td>{{ item.fornecedor__nome|upper }}</td>
                <td>{{ item.dias }}</td>
                <td>
                    {% if item.dias_uteis %}<i class="fas fa-check"></i>
                    {% else %}<i class="fas fa-times"></i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% include 'constel/v2/pagination.html' %}
<div class="row justify-content-center m-0">
    <a class="btn btn-primary px-5 my-3" href="{% url 'almoxarifado_edicao_material_fornecedor_prazo' material_codigo %}?{{ request.GET.urlencode }}">cadastrar novo prazo de fornecedor</a>
</div>
{% endblock %}