{% extends 'constel/v2/app.html' %}
{% block app_content %}
<div id="container" style="width: 100%; height: 100%;"></div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript">
    Highcharts.chart('container', {
      chart: {
          type: 'spline',
          backgroundColor:'#6c757d',
          style: {
            color: 'white',
          }
      },
      title: {
          text: 'Entradas x Saídas'
      },
      xAxis: {
          categories: [
            {% for entry in entradas %}"{{ entry.mes|date:'d/m/Y' }}"{% if not forloop.last %}, {% endif %}{% endfor %}
          ]
      },
      series: [{
          name: 'Entradas',
          data: [
            {% for entry in entradas %}{{ entry.total }}{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
      },{
          name: 'Saídas',
          data: [
            {% for entry in saidas %}{{ entry.total }}{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
      }]
  });
</script>
{% endblock %}