{% extends 'constel/v2/app.html' %}
{% block app_content %}
<div class="table-responsive table-content">
    <table class="table table-sm table-bordered table-hover table-dark p-0 m-0">
        <thead>
            <tr>
                <th scope="col" colspan="5">Lista de ONT's</th>
            </tr>
            <tr>
                <th scope="col" rowspan="2">Serial</th>
                <th scope="col" colspan="4">Datas</th>
            </tr>
            <tr>
                <th scope="col">Entrada</th>
                <th scope="col">Saída</th>
                <th scope="col">Aplicação</th>
                <th scope="col">Devolução</th>
            </tr>
        </thead>
        <tbody>
            {% for item in page_obj %}
            <tr class="text-md-left">
                <td>{{ item.codigo }}</td>
                <td>{{ item.max_entrada|date:'d/m/Y H:i:s' }}</td>
                <td>{{ item.max_saida|date:'d/m/Y H:i:s' }}</td>
                <td>{{ item.max_aplicada|date:'d/m/Y H:i:s' }}</td>
                <td>{{ item.max_devolucao|date:'d/m/Y H:i:s' }}</td>
            </tr>
            {% endfor %}
    </table>
</div>
{% include 'constel/v2/pagination.html' %}
<div class="row justify-content-center m-0">
    <a class="btn btn-danger px-5 my-3" href="{% url 'almoxarifado_cont_consulta_situacao' %}">voltar</a>
</div>
{% endblock %}