{% extends 'constel/v2/app.html' %}
{% block app_content %}
{% load static %}

<div class="table-responsive table-content">
    <table class="table table-sm table-bordered table-hover table-dark p-0 m-0">
        <thead>
            <tr>
                <th scope="col" colspan="4">Dados do contrato</th>
                <th scope="col" colspan="2">Dados do sistema</th>
            </tr>
            <tr>
                <th scope="col">Contrato</th>
                <th scope="col">Serial ONT</th>
                <th scope="col">Sinal ONT</th>
                <th scope="col">Status</th>
                <th scope="col">Matrícula</th>
                <th scope="col">Nome</th>
            </tr>
        </thead>
        <tbody id="dados">
        </tbody>
    </table>
</div>
{% include 'constel/v2/form_post.html' %}


<script>
    var endpoit = "{{ ws_url }}"
    var token = "{{ ws_token }}"
    var socket = new WebSocket(endpoit)

    var formData = $("form")
    var id_contrato = $("#id_contrato")
    var tabela = $("#dados")

    id_contrato.attr('disabled', true)

    socket.onmessage = function(e) {
        var mensagem = JSON.parse(e.data)
        var dados

        if (mensagem.tipo == "status") {
            console.log("contwe2:", mensagem.dados)
        }

        else if (mensagem.tipo == "logado") {
            id_contrato.attr('disabled', false)
            
            if (mensagem.data == "erro") {
                 window.location.replace("http://" + window.location.host + "/teste/");
            }

            formData.submit(function(event){
                event.preventDefault()
                dados = {
                    'tipo': 'contrato',
                    'dados': id_contrato.val(),
                    'username': '{{ user }}',
                    'token': token
                }
                socket.send(JSON.stringify(dados))
                tabela.append("<tr class='"+id_contrato.val()+"'><td>"+id_contrato.val()+"</td><td colspan='3' style='color: DarkOrange'>Buscando...</td><td colspan='2' style='color: DarkOrange'>Buscando...</td></tr>")
                id_contrato.val('')
                id_contrato.focus()
            })

        }
        else if (mensagem.tipo == "contrato") {
            var linha = $("."+mensagem.dados.contrato).last()
            
            if (mensagem.status == "erro") {
                linha.html(
                    "<td>"+
                    mensagem.dados.contrato+
                    "</td><td colspan='3'>"+
                    mensagem.dados+
                    "</td><td colspan='2'></td>"
                )
            }
            else if (mensagem.dados.dados.serial == undefined) {
                linha.html(
                    "<td>"+
                    mensagem.dados.contrato+
                    "</td><td colspan='3' style='color: Tomato'> o PSW não retornou os dados do contrato"+
                    "</td><td colspan='2'></td>"
                )
            }

            else if (mensagem.dados.dados_baixa.status == 201) {
                linha.html(
                    "<td>"+
                    mensagem.dados.contrato+
                    "</td><td>"+
                    mensagem.dados.dados.serial.toUpperCase()+
                    "</td><td>"+
                    mensagem.dados.dados.nivel_ont+
                    "</td><td>"+
                    mensagem.dados.dados.estado_link.toUpperCase()+
                    "</td><td>"+
                    mensagem.dados.dados_baixa.dados.user_to+
                    "</td><td style='color: Aqua'>"+
                    mensagem.dados.dados_baixa.dados.user_to_first_name.toUpperCase()+" "+mensagem.dados.dados_baixa.dados.user_to_last_name.toUpperCase()+
                    "</td>"
                )
            }
            else {
                var erros = ""
                for (erro in mensagem.dados.dados_baixa.dados) {
                    erros += mensagem.dados.dados_baixa.dados[erro][0] + " "
                }
                linha.html(
                    "<td>"+
                    mensagem.dados.contrato+
                    "</td><td>"+
                    mensagem.dados.dados.serial.toUpperCase()+
                    "</td><td>"+
                    mensagem.dados.dados.nivel_ont+
                    "</td><td>"+
                    mensagem.dados.dados.estado_link.toUpperCase()+
                    "</td><td colspan='2' style='color: Tomato'>"+
                    erros+
                    "</td>"
                )
            }
        }
    }
    socket.onopen = function(e) {
        console.log("cont2: conexão iniciada")
        
        var dados = {
            'tipo': 'login',
            'dados': {
                'username': "{{ psw_username }}",
                'password': "{{ psw_password }}"
            },
            'token': token
        }
        socket.send(JSON.stringify(dados))

    }
    socket.onerror = function(e) {
        console.log("cont2: erro", e)
    }
    socket.onclose = function(e) {
        console.log("cont2: conexão finalizada", e)
        window.location.replace("http://" + window.location.host + "/almoxarifado/cont/baixa/psw-login");
    }
</script>

{% endblock %}