{% extends 'constel/base.html' %}
{% block title %}Constel | Patrimônio{% endblock %}
{% block content %}
<div class="page-title"><h1>Patrimônio</h1></div>
<div class="menu-button">
    <a href="{% url 'patrimonio_cadastrar_ferramenta' %}">
        <button>Cadastrar ferramenta</button>
    </a>
</div>
<div class="menu-button">
    <a href="{% url 'patrimonio_cadastrar_patrimonio' %}">
        <button>Cadastrar modelo de patrimônio</button>
    </a>
</div>
<div  class="menu-button menu-back">
    <a href="{% url 'patrimonio_menu_principal' %}">
        <button>Voltar</button>
    </a>
</div>
{% endblock %}