{% extends 'constel/base.html' %}
{% block title %}Constel | Patrimônio{% endblock %}
{% block content %}
<div><h1>Patrimônio</h1></div>
<div>
    <a href="{% url 'patrimonio_menu_cadastros' %}">
        <button>Cadastros</button>
    </a>
</div>
<div>
    <a href="{% url 'patrimonio_menu_entradas' %}">
        <button>Entradas</button>
    </a>
</div>
<div>
    <a href="{% url 'gc_menu_principal' %}">
        <button>Controle de vales</button>
    </a>
</div>
<div>
    <a href="{% url 'patrimonio_menu_consultas' %}">
        <button>Consultas</button>
    </a>
</div>
<div>
    <a href="{% url 'patrimonio_menu_relatorios' %}">
        <button disabled="disabled">Relatórios</button>
    </a>
</div>
<div>
    <a href="{% url 'index' %}"><button>Sair</button></a>
</div>
<div>
    <a href="{% url 'logout' %}"><button>Logout</button></a>
</div>
{% endblock %}