{% extends 'constel/base.html' %}
{% block title %}Constel | Patrimônio{% endblock %}
{% block content %}
<div><h1>Patrimônio</h1></div>
<div>
    <a href="{% url 'patrimonio_consulta_ferramentas' %}">
        <button>Modelos de ferramentas cadastradas</button>
    </a>
</div>
<div>
    <a href="{% url 'patrimonio_consulta_patrimonios_modelos' %}">
        <button>Modelos de patrimônios cadastrados</button>
    </a>
</div>
<div>
    <a href="{% url 'patrimonio_consulta_ferramentas_estoque' %}">
        <button>Ferramentas estoque</button>
    </a>
</div>
<div>
    <a href="{% url 'patrimonio_consulta_patrimonios' %}">
        <button>Patrimônios datalhado</button>
    </a>
</div>
<div style="margin-top: 30px;">
    <a href="{% url 'patrimonio_menu_principal' %}">
        <button>Voltar</button>
    </a>
</div>
{% endblock %}